---
import Layout from '../layouts/Layout.astro';

const title = 'Rafael dos Santos Silva';
---

<Layout title={title}>
	<main class="flex flex-col gap-5">
		<section class="flex bg-black text-green-400">
			<div class="w-64">
				<img src="./profile.jpg" alt="Profile">
			</div>
			<div class="flex justify-between w-full px-10">
				<div class="flex flex-col">
					<div class="flex flex-col justify-start gap-3 py-10">
						<h1 class="text-2xl">{title}</h1>
						<h2 class="text-xl">Analista e Desenvolvedor de Sistemas</h2>
					</div>
					<ul class="text-sm">
						<li>Node.js | TypeScript | Python | Java</li>
						<li>HTML | CSS | JavaScript | Vue.js | React</li>
						<li>Android (Nativo) | React Native</li>
						<li>MySQL | Postgres | MongoDB | DynamoDB</li>
						<li>AWS | Google Cloud | Vercel</li>
					</ul>
				</div>
				<div class="flex flex-col justify-start gap-5 py-10 text-sm">
					<div class="flex items-center gap-2">
						<img src="linkedin.ico" alt="LinkedIn Icon" width="25" height="25" />
						<a href="https://linkedin.com/in/rfdss/" target="_blank">linkedin.com/in/rfdss/</a>
					</div>
					<div class="flex items-center gap-2">
						<img src="gmail.ico" alt="Gmail Icon" width="25" height="25" />
						<a href="mailto:rafaeldss.dev@gmail.com" target="_blank">rafaeldss.dev@gmail.com</a>
					</div>
					<div class="flex items-center gap-2">
						<img src="whatsapp.png" alt="Whatsapp Icon" width="25" height="25" />
						<a href="https://web.whatsapp.com/send?phone=5512991978631" target="_blank">+55 (12) 991978631<a/>
					</div>
					<div class="flex items-center gap-2">
						<img src="pin.png" alt="Location Icon" width="25" height="25" />
						<p>São José dos Campos - SP</p>
					</div>
				</div>
			</div>
		</section>
		<section class="flex flex-col gap-5 px-10">
			<p class="text-2xl font-bold italic">RESUMO & OBJETIVO</p>
			<p class="text-sm text-justify">
				Analista e Desenvolvedor de Sistemas há 8 anos (ADS - Fatec Cruzeiro 2015-2018), atuando em diversos tipos de projetos e áreas, com maior foco em desenvolvimento web.
				Entre as áreas que atuei estão: Agência Digital, Startup de CS/CX, Fintech com foco em Crédito, empresa do ramo de Cibersegurança, E-Commerce e Software House para apps mobile.
				Atualmente busco desafios Full Stack, mas também posso atuar como especialista em uma das frentes Frontend/Backend.
			</p>
		</section>
		<!-- <section class="flex"> -->
			<section class="flex flex-col gap-5 px-10 text-sm text-justify">
				<p class="text-2xl font-bold italic">EXPERIÊNCIA PROFISIONAL</p>
				<ul class="flex flex-col gap-5">
					<li>
						<p class="text-lg font-bold">TeamSix</p>
						<p class="font-semibold mt-1 mb-2">Desenvolvedor Sênior (Jun. 2023 - O momento)</p>
						<p class="">
							Desenvolvimento do novo site do Quizur, com ênfase em performance, utilizando tecnologias como Next.js (13+), Vercel, Supabase e TailwindCSS.
							Responsável por projetar e desenvolver novas features junto do time de Produtos. Manutenção do ecossistema de ADS.
						</p>
					</li>
					<li>
						<p class="text-lg font-bold">Plataforma E-Peça</p>
						<p class="font-semibold mt-1 mb-2">Desenvolvedor Sênior (Jan. 2023 - Mai. 2023)</p>
						<p class="">
							Projeto temporário para desenvolvimento de novas features e correções em um E-Commerce 100% Serverless, utilizando arquitetura Event-Driven com Python, AWS Lambda, Amazon SQS, entre outros serviços da AWS.
						</p>
					</li>
					<li>
						<p class="text-lg font-bold">Koin (Fintech)</p>
						<p class="font-semibold mt-1 mb-2">Tech Lead (Set. 2022 - Jan. 2023)</p>
						<p class="">
						- Responsável pelo time de Motor de Decisão, sendo a referência técnica para outros times, principalmente para os times de Riscos e Políticas de Crédito.
						</p>
						<div class="mt-3">
							<p class="font-semibold mb-2">Desenvolvedor Sênior (Dez. 2021 - Jan. 2023)</p>
							<p class="">
								- Implementação de novas políticas de crédito no Motor de Decisão; <br/>
								- Criação de ferramentas internas para melhorar o desempenho do time.
							</p>
						</div>
					</li>
					<li>
						<p class="text-lg font-bold">Salão Na Mão (Startup Freelancer)</p>
						<p class="font-semibold mt-1 mb-2">Desenvolvedor Mobile (Out. 2021 - Dez. 2021)</p>
						<p class="">
							- Desenvolvimento de um app de agendamento online com foco em serviços de beleza. <br/>
							- Construção de novas telas e fluxos seguindo a UI/UX criada no Figma.
						</p>
					</li>

					<li>
						<p class="text-lg font-bold">Zerum - IT Engineering Simplified</p>
						<p class="font-semibold mt-1 mb-2">Desenvolvedor Frontend (Mai. 2021 - Dez. 2021)</p>
						<p class="">
							- Desenvolvimento e manutenção dos produtos Zerum Valk, Lynx e Controller. <br/>
							- Participação (pair programming) na criação de um campo de busca inteligente com Query Language inspirado no Kibana/Lucene.
						</p>
					</li>

					<li>
						<p class="text-lg font-bold">SoluCX - Software para Gestão de Experiências</p>
						<p class="font-semibold mt-1 mb-2">Desenvolvedor Full Stack (Jan. 2019 - Mai. 2021)</p>
						<p class="">
							- Responsável pelo time de Integrações dando suporte aos clientes junto ao time de Customer Success; <br/>
							- Reuniões com novos clientes junto ao time Comercial, apresentando a parte técnica da plataforma, tipos de integrações e documentações de integração; <br/>
							- Atuei também na criação de ferramentas internas afim de melhorar e automatizar processos.
						</p>
						<div class="mt-3">
							<p class="font-semibold mb-2">Desenvolvedor Backend (Mai. 2019 - Dez. 2019)</p>
							<p class="">
								- Responsável pelo sistema backend legado, alterações em regras de negócio, adicionando melhorias de performance.
							</p>
						</div>
					</li>

					<li>
						<p class="text-lg font-bold">4APProach</p>
						<p class="font-semibold mt-1 mb-2">Desenvolvedor Frontend (Set. 2018 - Mai. 2019)</p>
						<p class="">
							- Responsável pelo desenvolvimento frontend de diversos projetos. <br/>
							- Criação de um E-Commerce e um Marketplace do zero, integrando com a API REST do backend. <br/>
							- Criação de um app para viajantas/mochileiros em React Native baseado em um app legado Android Nativo. <br/>
						</p>
					</li>

					<li>
						<p class="text-lg font-bold">Prodweb</p>
						<p class="font-semibold mt-1 mb-2">Desenvolvedor Full Stack (Dez. 2016 - Nov. 2018)</p>
						<p class="">
							- Desenvolvimento e manutenção de sites, sistemas e web apps (PWA); <br/>
							- Criação de e-mail marketing utilizando boas práticas, responsividade e compatibilidade com clients de e-mail antigos como Outlook para Desktop. <br/>
							- Suporte ao cliente em casos de problemas, coletando informações e gerando novas tarefas para o time.
						</p>
					</li>
				</ul>
			</section>
			<!-- <section class="flex flex-col gap-5 px-10">
				<p class="text-3xl italic">SKILLS</p>
				<ul class="">
					<li>Python</li>
					<li>Node.js</li>
					<li>TypeScript</li>
					<li>.NET C#</li>
					<li>HTML</li>
					<li>CSS / SCSS / SASS</li>
					<li>MySQL / Postgres</li>
					<li>MongoDB / DynamoDB</li>
					<li>AWS / Google Cloud</li>
				</ul>
			</section> -->
		<!-- </section> -->
	</main>
</Layout>

<style>
</style>
