---
import Layout from '../layouts/Layout.astro';

const title = 'Rafael dos Santos Silva';
---

<Layout title={title}>
	<main class="flex flex-col gap-5">
		<section class="flex bg-black text-green-400">
			<div class="w-64">
				<img src="./profile.jpg" alt="Profile">
			</div>
			<div class="flex justify-between w-full px-10">
				<div class="flex flex-col">
					<div class="flex flex-col justify-start gap-3 py-10">
						<h1 class="text-2xl">{title}</h1>
						<h2 class="text-xl">Full Stack Developer</h2>
					</div>
					<ul class="text-sm">
						<li>PHP | Python | Node.js | TypeScript</li>
						<li>HTML | CSS | Vue.js | React | React Native</li>
						<li>MySQL | Postgres | MongoDB | DynamoDB</li>
						<li>AWS | Google Cloud</li>
					</ul>
				</div>
				<div class="flex flex-col justify-start gap-5 py-10 text-sm">
					<div class="flex items-center gap-2">
						<img src="linkedin.ico" alt="LinkedIn Icon" width="25" height="25" />
						<a href="https://linkedin.com/in/rfdss/" target="_blank">linkedin.com/in/rfdss/</a>
					</div>
					<div class="flex items-center gap-2">
						<img src="gmail.ico" alt="Gmail Icon" width="25" height="25" />
						<a href="mailto:rafaeldss.dev@gmail.com" target="_blank">rafaeldss.dev@gmail.com</a>
					</div>
					<div class="flex items-center gap-2">
						<img src="whatsapp.png" alt="Whatsapp Icon" width="25" height="25" />
						<a href="https://web.whatsapp.com/send?phone=5512991978631" target="_blank">+55 (12) 991978631<a/>
					</div>
					<div class="flex items-center gap-2">
						<img src="pin.png" alt="Location Icon" width="25" height="25" />
						<p>São José dos Campos - SP</p>
					</div>
				</div>
			</div>
		</section>
		<section class="flex flex-col gap-5 px-10">
			<p class="text-2xl font-bold italic">OVERVIEW & OBJECTIVE</p>
			<p class="text-sm text-justify">
				I'm a Software Developer with 8 years of experience, mainly in web development. I have worked as a front-end and back-end developer on several projects in different areas like Digital Agency, CX Startup, Fintech Startup, Cybersecurity company, E-Commerce, Software House for Mobile apps. Currently I have focused on full-stack challenges but I can work as a specialist as well.
			</p>
		</section>
		<!-- <section class="flex"> -->
			<section class="flex flex-col gap-5 px-10 text-sm text-justify">
				<p class="text-2xl font-bold italic">WORK EXPERIENCE</p>
				<ul class="flex flex-col gap-5">
					<li>
						<p class="text-lg font-bold">Plataforma E-Peça</p>
						<p class="font-semibold mt-1 mb-2">Senior Developer (Jan. 2023 - May. 2023)</p>
						<p class="">
							- Temporary project to development and maintenance of an E-Commerce based on Serverless and Event-Driven Architecture.
						</p>
					</li>
					<li>
						<p class="text-lg font-bold">Koin (Fintech)</p>
						<p class="font-semibold mt-1 mb-2">Tech Lead (Sep. 2022 - Jan. 2023)</p>
						<p class="">
							- Responsible for the Decision Engine team, being the technical reference for other teams, mainly for the Risks and Credit Policies teams.
						</p>
						<div class="mt-3">
							<p class="font-semibold mb-2">Senior Developer (Dec. 2021 - Jan. 2023)</p>
							<p class="">
								- Implementation of new credit policies in the Decision Engine; <br/>
								- Creation of internal tools to improve team performance.
							</p>
						</div>
					</li>
					<li>
						<p class="text-lg font-bold">Salão Na Mão (Startup Freelancer)</p>
						<p class="font-semibold mt-1 mb-2">Desenvolvedor Mobile (Out. 2021 - Dec. 2021)</p>
						<p class="">
							- Development of an online scheduling app focused on beauty services. <br/>
							- Construction of new screens and flows following the UI/UX created in Figma.
						</p>
					</li>

					<li>
						<p class="text-lg font-bold">Zerum - IT Engineering Simplified</p>
						<p class="font-semibold mt-1 mb-2">Frontend Developer (May. 2021 - Dec. 2021)</p>
						<p class="">
							- Development and maintenance of Zerum Valk, Lynx and Controller products. <br/>
							- Participation (pair programming) in the creation of an intelligent search field with Query Language inspired by Kibana/Lucene.
						</p>
					</li>

					<li>
						<p class="text-lg font-bold">SoluCX - Software para Gestão de Experiências</p>
						<p class="font-semibold mt-1 mb-2">Full Stack Developer (Jan. 2019 - May. 2021)</p>
						<p class="">
							- Responsible for the Integration team supporting customers with the Customer Success team; <br/>
							- Meetings with new customers with the Commercial team, presenting the technical part of the platform, types of integrations and integration documentation; <br/>
							- I also worked on the creation of internal tools in order to improve and automate processes.
						</p>
						<div class="mt-3">
							<p class="font-semibold mb-2">Backend Developer (May. 2019 - Dec. 2019)</p>
							<p class="">
								- Responsible for the legacy backend system, changes in business rules, adding performance improvements.
							</p>
						</div>
					</li>

					<li>
						<p class="text-lg font-bold">4APProach</p>
						<p class="font-semibold mt-1 mb-2">Frontend Developer (Sep. 2018 - May. 2019)</p>
						<p class="">
							- Responsible for frontend development of several projects. <br/>
							- Creation of an E-Commerce and a Marketplace from scratch, integrating with the backend REST API. <br/>
							- Creation of an app for travelers/backpackers in React Native based on a legacy Android Native app. <br/>
						</p>
					</li>

					<li>
						<p class="text-lg font-bold">Prodweb</p>
						<p class="font-semibold mt-1 mb-2">Full Stack Developer (Dec. 2016 - Nov. 2018)</p>
						<p class="">
							- Desenvolvimento e manutenção de sites, sistemas e web apps (PWA); <br/>
							- Criação de e-mail marketing utilizando boas práticas, responsividade e compatibilidade com clients de e-mail antigos como Outlook para Desktop. <br/>
							- Suporte ao cliente em casos de problemas, coletando informações e gerando novas tarefas para o time.
						</p>
					</li>
				</ul>
			</section>
			<!-- <section class="flex flex-col gap-5 px-10">
				<p class="text-3xl italic">SKILLS</p>
				<ul class="">
					<li>Python</li>
					<li>Node.js</li>
					<li>TypeScript</li>
					<li>.NET C#</li>
					<li>HTML</li>
					<li>CSS / SCSS / SASS</li>
					<li>MySQL / Postgres</li>
					<li>MongoDB / DynamoDB</li>
					<li>AWS / Google Cloud</li>
				</ul>
			</section> -->
		<!-- </section> -->
	</main>
</Layout>

<style>
</style>
